ros2/ros2_ws/build
ros2/ros2_ws/install
ros2/ros2_ws/log

/ros2/ros2_ws/src/depth_sensor/depth_temperature_bag 
/ros2/ros2_ws/src/depth_sensor/depth_pressure_bag 

ros2/uros_ws/build
ros2/uros_ws/install
ros2/uros_ws/log